$base-color: #1c1c25;
$icon-color: #fff;
$highlight-color: #ef4035;
$notification-color: #ef4035;
$button-color: #ef4035;

$menu-submenu-text: #8a8a91;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #1c1c25;

// @import "colors.css";
@import "/wp-admin/css/colors/_admin.scss";

// - nice black text color - 303240